@model DordStreamCMS.Models.ResetPassword
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_AccountLayout";
}
<div class="card shadow-lg mr-auto ml-auto edit-card mt-3">
    <div class="card-header bg-transparent">
        <h3 class="card-title">Reset Password</h3>
    </div>
    <div class="card-body text-center">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" asp-antiforgery="false">
            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <div class="input-group mt-5 align-items-baseline">
                <h6 class="card-title">Email</h6>
                <input type="email" placeholder="Email" class="form-control ml-5" asp-for="Email" />
            </div>


            <div class="form-group mt-5">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>

    </div>
</div>