<section class="w3l-index5 w3l-blog1 py-5">
    <div class="container py-lg-3">
      <div class="owl-two owl-carousel owl-theme" ds-parent="recent" ds-count="10" ds-title-length="40" ds-content-length="200">
        <div class="item">
          <div class="row abouthy-img-grids no-gutters">
            <div class="col-lg-6 img-one">
              <a href="#" ds-link="1"><img src="assets/images/img10.jpg" ds-image="1" alt=" " class="img-fluid"></a>
            </div>
            <a href="#" ds-link1="1" class="col-lg-6 blog-article-posts bg-color-one">
              <div class="blog-post d-flex flex-wrap align-content-between p-md-5">
                <div class="post-content">
                  <ul class="author-date mb-4 d-flex align-items-center">
                    <li class="circle avatar"><img src="assets/images/author1.jpg" alt=""></li>
                    <li>by <b ds-author="1">John Michele</b></li>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span> <span ds-date="1">Mar 16, 2021</span></li>
                  </ul>
                  <h4 class="blog_post_title mb-4" ds-title="1">That’s what I want to show you how to do here.</h4>
                 
                  <p class="mt-4" ds-content="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, consectetur.....</p>
                </div>
                <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
              </div>
            </a>
          </div>
        </div>
       
      </div>
  
  
  
    </div>
  </section>
  <!-- /w3l-content-grids-->
  <section class="w3l-index5 w3l-blog2 py-5">
    <div class="container py-lg-3">
      <div class="row abouthy-img-grids" ds-parent="feature" ds-count="20" ds-title-length="30" ds-content-length="40">
        <div class="col-lg-4 col-md-6 blog2-posts">
          <a href="#" ds-link="1" class="blog-article-post d-block p-0">
            <div class="blog-post d-flex flex-wrap align-content-between p-4">
              <img src="assets/images/img7.jpg" ds-image="1" alt=" " class="img-fluid mb-4">
              <div class="post-content">
                <ul class="author-date mb-4 d-flex align-items-center">
                  <li class="circle avatar"><img src="assets/images/author4.jpg" alt=""></li>
                  <li>by <b ds-author="1">John Michele</b></li>
                  <li><span class="fa fa-clock-o" aria-hidden="true"></span><span ds-date="1">Mar 16, 2021</span></li>
                </ul>
                <h4 class="blog_post_title" ds-title="1">That’s what I want to show you how to do here.</h4>
                <p class="mt-3" ds-content="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, consectetur.....</p>
              </div>
              <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
            </div>
          </a>
        </div>
    

      </div>
  
  
  
    </div>
  </section>
  <!-- /w3l-content-grids-->




<!-- our products -->
<section class="w3l-products py-5" id="projects">
    <div class="container py-lg-3">
      <div class="header-section text-center mb-5">
        <h3>Featured News </h3>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <!--Horizontal Tab-->
          <div id="parentHorizontalTab">
            <ul class="resp-tabs-list hor_1">
              <li>Newest</li>
              <li>Popular</li>
              <li>Trendy</li>
              <div class="clear"></div>
            </ul>
            <div class="resp-tabs-container hor_1">
              <div class="products-content">
                <div class="row" ds-parent="recent" ds-count="6" ds-title-length="19" ds-content-length="25">
                  <a href="#" ds-link="1" class="col-lg-4 bg-color-three mt-lg-0 mt-0 mb-3">
                    <div class="blog-article-post d-flex flex-wrap align-content-between">
                      <div class="post-content">
                        <h6 class="sub-title" ds-date="1">Mar 16, 2021</h6>
                        <img src="assets/images/img10.jpg" ds-image="1" alt=" " class="img-fluid">
                        <h4 class="blog_post_title my-2" ds-title="1">Featured Blog Post</h4>
                        <ul class="author-date mb-3 d-flex align-items-center">
                          <li>by <b ds-author="1">Gwen Johnson</b></li>
                        </ul>
                        <p ds-content="1">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                      </div>
                      <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
                    </div>
                  </a>
                 
                
                </div>
              </div>
              <div class="products-content">
                <div class="row" ds-parent="popular" ds-count="6" ds-title-length="19" ds-content-length="25">
                    <a href="#" ds-link="1" class="col-lg-4 bg-color-three mt-lg-0 mt-0 mb-3">
                        <div class="blog-article-post d-flex flex-wrap align-content-between">
                          <div class="post-content">
                            <h6 class="sub-title" ds-date="1">Mar 16, 2021</h6>
                            <img src="assets/images/img10.jpg" ds-image="1" alt=" " class="img-fluid">
                            <h4 class="blog_post_title my-2" ds-title="1">Popular Blog Post</h4>
                            <ul class="author-date mb-3 d-flex align-items-center">
                              <li>by <b ds-author="1">Gwen Johnson</b></li>
                            </ul>
                            <p ds-content="1">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                          </div>
                          <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
                        </div>
                      </a>
                </div>
              </div>
              <div class="products-content">
                <div class="row" ds-parent="trending" ds-count="6" ds-title-length="19" ds-content-length="25">
                    <a href="#" ds-link="1" class="col-lg-4 bg-color-three mt-lg-0 mt-0 mb-3">
                        <div class="blog-article-post d-flex flex-wrap align-content-between">
                          <div class="post-content">
                            <h6 class="sub-title" ds-date="1">Mar 16, 2021</h6>
                            <img src="assets/images/img10.jpg" ds-image="1" alt=" " class="img-fluid">
                            <h4 class="blog_post_title my-2" ds-title="1">Trending Blog Post</h4>
                            <ul class="author-date mb-3 d-flex align-items-center">
                              <li>by <b ds-author="1">Gwen Johnson</b></li>
                            </ul>
                            <p ds-content="1">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                          </div>
                          <div class="read-button mt-5">Read story <span class="fa fa-long-arrow-right" aria-hidden="true"></span></div>
                        </div>
                      </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //our products -->


