
<div class="col-md-12 graphs">
    <div class="xs">
     <h3>Department</h3>
    <div style="display: block">
        <select class="form-control w-50 mb-5" placeholder="Faculty" style="width: 70%">
        <option value="Civil Engineering">Civil Engineering</option>
        <option value="Mechanical Engineering">Mechanical Engineering</option>
        </select>
        <input type="text" placeholder="Department" class="form-control" style="width: 70%; margin-top: 20px;">
         </div>
         <button class="btn btn-outline-success" style="margin-top: 20px; margin-bottom: 20px; padding: 10px; border: 1px solid green; border-radius: 10px;">Create Department</button>
  
   <div class="bs-example4" data-example-id="contextual-table">
 <table class="table">
   <thead>
     <tr>
       <th>S/N</th>
       <th>Name</th>
       <th>Registration Date</th>
       <th>Faculty</th>
     </tr>
   </thead>
   <tbody id="departmentTable">
    
     
   </tbody>
 </table>
</div>


</div>
</div>

<!-- popup for sign up form -->
<div class="modal video-modal fade" id="applicantModal" tabindex="-1" role="dialog" aria-labelledby="myModal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content  modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3>Are you sure to delete Department</h3>
					<div>
                    
                        <div class="d-flex">
                          
                            <button type="button" id="delete" class="btn btn-outline-success">Delete</button>
                            <button type="button" id="cancel" class="btn btn-outline-danger">Cancel</button>
                        </div>
					</div>
			
		</div>
	</div>
</div>
<!-- //popup for sign up form -->
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<!-- bootstrap js file -->
<script src="js/department.js"></script>

