@{ Layout="";}
<!--html-->
<!DOCTYPE HTML>
<html lang="en-US">

<!--head-->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="keywords" content="Attenance Sheet">
 <meta name="description" content="Attenance Sheet">


<!--title-->
<title>Public Attendance</title>
<!--End title-->
<!--bootstrap-->
<link href="css/bootstrap.css" rel="stylesheet">
<!--End bootstrap-->
<!--fontawesome-->
<link href="css/fontawesome.css" rel="stylesheet">
<!--End fontawesome-->
<!--site-->
<link href="css/site.css" rel="stylesheet">
<!--End site-->
</head>
<!--End head-->



<!--body-->
<body onload="viewAttendanceSheet()">



<!--Main Container-->
<div class="container border mt-2">


<nav class="navbar navbar-expand-sm navbar-light bg-transparent">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-success" href="/">Attendance Sheet</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
      <ul class="navbar-nav">

                <li class="nav-item">
          <a class="nav-link text-dark" href="/" ds-link-type="logout">Log Out</a>
        </li>
             
 </ul>

    </div>
  </div>
</nav>
<h5 class="text-center mt-3 mb-3" style="text-transform:uppercase"> Welcome to Public Attendance Sheet Dord</h5>


<div class="card border mb-3 m-auto mt-5">
  <div class="card-body text-success">
    
<div class="d-flex justify-content-end mb-4">
<input type="date" class="form-control w-50 " placeholder="Search By Date" id="attendaceDate" name="AttendaceDate" onchange="searchAttendanceByDate()">

</div>
<!--Attendance table-->
<table class="table table-responsive table-striped">
    <thead>
<tr>
<th> S/N</th>
<th> Full Name</th>
<th> Registration Number</th>
<th> Time In </th>
<th> Time Out</th>
<th> Date</th>
</tr>
        </thead>
    <tbody id="attendanceTable">

        </tbody>

</table>
<!--End table-->




  </div>
</div>




</div>
<!--End  Main Container-->



<input type="hidden" name="page" id="page" value="viewAttendance">

<p class="text-center mt-3 text-dark"> Design By DordStream</p>













<!--jquery-->
<script src="js/jquery.js"></script>
<!--End jquery-->
<!--fontawesome-->
<script src="js/fontawesome.min.js"></script>
<!--End fontawesome-->
<!--bootstrap.bundle-->
<script src="js/bootstrap.bundle.js"></script>
<!--End bootstrap.bundle-->

<!--site-->
<script src="js/attendance.js"></script>
<!--End site-->





</body>
<!--End body-->



</html>
<!--End html-->




