<div class="jumbotron text-center">

    <h2>Welcome to Dord Stream</h2>


    <p>Dord stream is a CMS software which writting in asp.net core and paired with MSSql Server</p>
    <p>And also allow or help front end developer to work as full stack developer</p>
    <a href="#" class="btn btn-outline-danger">Read More</a>


</div>






