@{ Layout="";}
<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1.0">
<title> Html Document </title> 
<link href="assets/css/stylesheet.css" rel="stylesheet"></head>
<body>
    <div class="btn-group border" role="group" aria-label="Basic example" id="DIV752546">
  
  
  
</div><div class="btn-group border" role="group" aria-label="Basic example" id="DIV114436">
  
  
  
</div><div id="DIV600877" class="border">
<button type="button" class="btn btn-primary border" id="BUTTON685436">Right</button>
<button type="button" class="btn btn-primary border" id="BUTTON263436">Left</button>

<div id="DIV4095" class="border"><button type="button" class="btn btn-primary border" id="BUTTON78872">Primary</button></div></div>
<div id="DIV867209" class="border">
<button type="button" class="btn btn-primary border" id="BUTTON773547">Middle</button>
<button type="button" class="btn btn-primary border" id="BUTTON972547">Right</button>
<button type="button" class="btn btn-primary border" id="BUTTON562547">Left</button>
</div><div id="DIV109440" class="border">


</div><div class="row border" id="DIV185731">
  <div class="col-sm-6 border" id="DIV420731">
 
</div>
  <div class="col-sm-6 border" id="DIV697816">
<p id="P52816" class="border">.col-sm-6</p>
</div>
</div><!--index.js-->
<script src="models/index.js"></script>
<!-- //index.js-->
</body>
</html>


