@{
    ViewData["Title"] = "Pages";
    Layout = "_AdminLayout";
}
@section scripts{

    <script src="/adminwwwroot/js/dc0982c5-6db0-48e8-bb81-303cd2dfc573.js" asp-append-version="true"></script>

}


<div class="container-fluid shadow-sm border">

    <div class="plus">
        <a title="Create New" href="/admin/newpage">
            <i class="fa fa-plus-circle plus-icon">

            </i>
        </a>
    </div>

    <div class="media mb-3 mt-3 justify-content-between">

        <div class="mr-auto">
            <select class="form-control borderless header-input" id="selectposttype">
                <option value="all" id="total">All (0)</option>
                <option value="publish" id="totalpublish">Publish (0)</option>
                <option value="draft" id="totaldraft">Draft (0)</option>
            </select>
        </div>
        <input type="text" class="custom-control borderless border-bottom ml-auto mr-auto header-input" placeholder="Page Name" id="pageNameSearch" />
        <input type="checkbox" class="custom-control custom-checkbox header-checkbox" id="allcheck" />



    </div>
    <div id="selectedItem">
        <div class="media border justify-content-around pt-2 pb-1 mt-2 align-items-baseline">
            <div class="input-group">
                <a href="#" class="close mr-2" id="selectedItemIClose">&times;</a>
                |
                <p class="ml-2 selected-text" id="selected"></p>
            </div>
            <div class="input-group justify-content-end ml-auto">
                <a href="#" title="Delete" class="mr-3" id="delete_all">
                    <i class="fa fa-trash text-success"></i>
                </a>
                <a href="#" title="Unpublish" class="mr-3" id="unpublish_all">
                    <i class="fa fa-trash-restore text-success"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="main right-over-flow" id="main">


    </div>

</div>

<input type="hidden" id="pages" value="pages" />