@{ Layout=""; 
  var returnUrl = Context.Request.Query["returnurl"];}

<!DOCTYPE HTML>
<html>
<head>
<title>Modern an Admin Panel Category Flat Bootstarp Resposive Website Template | Login :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'>
<!-- Custom CSS -->
<link href="Admincss/style.css" rel='stylesheet' type='text/css'>
<link href="Admincss/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!----webfonts--->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<!---//webfonts--->  
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</head>
<body id="login">
  <div class="login-logo">
    <a href="/account/login"><img src="images/logo.png" alt=""></a>
  </div>
  <h2 class="form-heading">login</h2>
  <div class="app-cam">
	  <form ds-action="login" asp-antiforgery="false" asp-route="Login" asp-route-returnurl="@returnUrl">
<div asp-validation-summary="All" style="color:red; margin-top: 10px"> </div>
		<input type="text" class="text" placeholder="Username" ds-username="1" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
		<input type="password" ds-password="1" onfocus="this.value = '';" placeholder="Password" onblur="if (this.value == '') {this.value = 'Password';}">
		<div class="submit"><input type="submit" value="Login"></div>
			<ul class="new">
			<li class="new_left"><p><a href="#" ds-link-type="forget">Forgot Password ?</a></p></li>
			<li class="new_right"><p class="sign">New here ?<a href="#" ds-link-type="register"> Sign Up</a></p></li>
			<div class="clearfix"></div>
		</ul>
	</form>
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy; 2015  <sitename>Modern</sitename>. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
   </div>
</body>
</html>

