@model BloggerDotCore.Models.Login
@{
    Layout = "";
    var returnUrl = Context.Request.Query["returnurl"];
}
<!DOCTYPE html>
<html lang="en" class="overflow-auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Bcwebton Technologies" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <title>Login - BloggerDotCore</title>


    <link rel="stylesheet" href="/adminwwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/adminwwwroot/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/adminwwwroot/css/accountSytle.css" />
</head>
<body id="body">
    <div class="container bg-transparent pt-3 mb-4">
        <div class="card mr-auto shadow-lg login-card">
            <div class="card-header border-bottom pb-2 bg-transparent">
                <h3 class="card-title text-center">Login Page</h3>
            </div>
            <div class="card-body mt-2 border-0">
                <form method="post" asp-route="Login" asp-route-returnurl="@returnUrl">
                    <div asp-validation-summary="All" class="form-group mb-2 text-danger">

                    </div>
                    <div class="form-group">
                        <label class="col-form-label-lg">UserName</label>
                        <input type="text" class="form-control" placeholder="Username" asp-for="UserName" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label-lg">Password</label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" />
                    </div>
                    <div class="input-group align-items-baseline">
                        <input type="checkbox" class="form-check" id="showPassword" />
                        <label class="col-form-label-sm ml-3">Show Password</label>
                    </div>
                    <div class="form-group mt-1">
                        <a asp-controller="Account" asp-action="ResetPassword" class="nav-link">Forget Password</a>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary text-center">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script src="/adminwwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/adminwwwroot/font-awesome/js/all.min.js"></script>
    <script src="/adminwwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script>
        window.onload = function () {

            var body = document.getElementById("body");
            body.style.height = $(window).height() + "px";
            var password = document.getElementById("Password");
            var showPassword = document.getElementById("showPassword");
            showPassword.onclick = function () {
                if (password.type == "text") {
                    password.type = "password";
                }
                else {
                    password.type = "text";
                }
            }
        }
    </script>
</body>
</html>

