@{
    Layout = "";
    ViewData["Title"] = "New Post";
}

<!DOCTYPE html>
<html lang="en" class="overflow-auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Bcwebton Technologies" />
    <link rel="shortcut icon" href="/favicon.png" />
    <title>@ViewData["Title"] - BloggerDotCore</title>
    <!--Editor Css-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/adminwwwroot/Editor/css/froala_editor.css">
    <link rel="stylesheet" href="/adminwwwroot/Editor/css/froala_style.css">
    <link href="/adminwwwroot/Editor/css/plugins/char_counter.min.cs" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/colors.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/code_view.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/draggable.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/emoticons.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/file.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/fullscreen.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/help.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/image.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/image_manager.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/line_breaker.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/quick_insert.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/special_characters.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/table.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/plugins/video.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/third_party/embedly.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/third_party/font_awesome.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/third_party/image_tui.min.css" rel="stylesheet" />
    <link href="/adminwwwroot/Editor/css/third_party/spell_checker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

    <!--End-->
    <link rel="stylesheet" href="/adminwwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/adminwwwroot/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/adminwwwroot/css/adminstylesheet.css" />
</head>
<body>
    <div class="spinner" style="display: none;">
        <div class="spinner-border"></div>
    </div>
    <div class="row border m-3 p-3">
        <div class="col-12 mt-2" style="margin-left:-15px">
            <a href="#" class="btn" id="backarrow">
                <i class="fa fa-arrow-left text-success"></i>
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="col-12 mt-3">
            <div class="media align-items-center mb-2">
                <input type="text" class="form-control new-title shadow-none" placeholder="Title" id="title" />
                <div class="media-body input-group align-items-center">
                    <button type="button" class="btn btn-outline-success new-btn btn-sm" id="saveBtn">
                        <i class="fa fa-save mr-2" title="Save"></i>
                        <p> Save</p>
                    </button>
                    <button type="button" class="btn btn-outline-success new-btn btn-sm" id="publishBtn">
                        <i class="fa fa-trash-restore-alt mr-2" title="Publish"></i>
                        <p>Publish</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-9 pl-2 pr-2 mt-4 content-container">
            <textarea class="form-control" id="content" rows="20"></textarea>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-3 border mt-4">
            <div class="d-block">
                <label class="col-form-label-lg ml-2">Label</label>
                <input type="text" class="form-control custom-control border_bottom text-capitalize h-25" placeholder="Create Label" id="label" />


            </div>
        </div>
    </div>


    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script src="/adminwwwroot/Editor/js/froala_editor.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/align.min.js"></script>

    <script src="/adminwwwroot/Editor/js/plugins/char_counter.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/code_beautifier.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/code_view.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/colors.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/draggable.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/edit_in_popup.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/emoticons.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/entities.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/file.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/font_family.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/font_size.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/forms.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/help.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/image.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/fullscreen.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/image_manager.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/inline_class.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/inline_style.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/line_breaker.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/line_height.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/link.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/lists.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/paragraph_format.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/paragraph_style.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/print.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/quick_insert.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/quote.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/save.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/special_characters.min.js"></script>
    <script src="/adminwwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/table.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/url.min.js"></script>
    <script src="/adminwwwroot/Editor/js/third_party/image_tui.min.js"></script>
    <script src="/adminwwwroot/Editor/js/third_party/embedly.min.js"></script>
    <script src="/adminwwwroot/Editor/js/third_party/font_awesome.min.js"></script>
    <script src="/adminwwwroot/Editor/js/third_party/spell_checker.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/video.min.js"></script>
    <script src="/adminwwwroot/Editor/js/plugins/word_paste.min.js"></script>
    <script src="/adminwwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/adminwwwroot/font-awesome/js/all.min.js"></script>
    <script src="/adminwwwroot/js/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script src="/adminwwwroot/js/f222cb77-4e37-4195-9ab0-51b3407a8739.js" asp-append-version="true"></script>

    <script>
        (function () {
            const editorInstance = new FroalaEditor('#content', {
                // Set maximum number of characters.
                charCounterMax: 20000000,
                fontSizeDefaultSelection: '10',
                events: {
                    'image.beforeUpload': function (files) {
                        const editor = this;
                        if (files.length) {
                            var xhr = new XMLHttpRequest();
                            var formData = new FormData();
                            formData.append("File", files[0]);
                              xhr.onload = function () {
                                    if (this.readyState == 4 && this.status == 200) {
                                        var fileModel = JSON.parse(this.responseText);
                                        editor.image.insert(fileModel.filePath, null, null, editor.image.get());

                                    }
                                }

                                xhr.open("POST", "/admin/upload");
                                xhr.send(formData);
                           

                        }
                        return false
                    },
                    'video.beforeUpload': function (files) {
                        const editor = this;
                        if (files.length) {
                            var xhr = new XMLHttpRequest();
                            var formData = new FormData();
                            formData.append("File", files[0]);
                            xhr.onload = function () {
                                if (this.readyState == 4 && this.status == 200) {
                                    var fileModel = JSON.parse(this.responseText);

                                    var videoElment = "<video width='320' height='240' controls><source src=" + "\"" + fileModel.filePath + "\"" + " " + "type=" + "\"" + "video/" + fileModel.extension + "\"" + " " + "> Your browser does not support the video tag </video> ";
                                    editor.video.insert(videoElment);
                                }
                            }

                            xhr.open("POST", "/admin/upload");
                            xhr.send(formData);


                        }
                        return false;
                    },
                    'file.beforeUpload': function (files) {
                        const editor = this;
                        if (files.length) {
                            var xhr = new XMLHttpRequest();
                            var formData = new FormData();
                            formData.append("File", files[0]);
                            xhr.onload = function () {
                                if (this.readyState == 4 && this.status == 200) {
                                    var fileModel = JSON.parse(this.responseText);
                                    switch (fileModel.type) {
                                        case "Audio":
                                            var audioElment = "<audio width='320' height='240' controls><source src=" + "\"" + fileModel.filePath + "\"" + " " + "type=" + "\"" + "audio/" + fileModel.extension + "\"" + " " + "> Your browser does not support the audio tag </audio> ";
                                            editor.video.insert(audioElment);
                                            break;
                                        case "Document":
                                            editor.file.insert(fileModel.filePath, fileModel.fileName, { link: fileModel.filePath });
                                            break;
                                        default:
                                            break;
                                    }

                                }
                            }

                            xhr.open("POST", "/admin/upload");
                            xhr.send(formData);


                        }
                        return false;
                    }
                }

            })
        })()
    </script>
</body>
</html>