@model BcwebtonTechnologies.BloggerDotCore.Settings
@{
    ViewData["Title"] = "Settings";
    Layout = "_AdminLayout";
}
@section Scripts{
    <script src="/adminwwwroot/js/2bf4c779-cbfe-4416-b9e4-fd66952431c2.js" asp-append-version="true"></script>
}

<div class="container-fluid right-over-flow right-over-flow-f pl-2 shadow-sm border">
    <!--Basic-->
    <div class="container mt-3 border-bottom">
        <h4 class="settings-header">Basic</h4>
        <div class="settings-text">
            <h6>Title</h6>
            <p data-toggle="modal" data-target="#titleModal" id="titleText" class="small">@Model?.Title</p>
        </div>
        <div class="settings-text">
            <h6>Keywords</h6>
            <p data-toggle="modal" data-target="#keywordModal" id="keywordText" class="small">@Model?.Keywords</p>
        </div>
        <div class="settings-text">
            <h6>Description</h6>
            <p data-toggle="modal" data-target="#descriptionModal" id="descriptionText" class="small">@Model?.Description</p>
        </div>
        <div class="settings-text">
            <h6>Favicon</h6>
            <p data-toggle="modal" data-target="#faviconModal">Upload Website Favicon</p>
        </div>

    </div>
    <!--End-->

    <div class="clearfix"></div>
    <!--Posts-->
    <div class="container mt-4 border-bottom">
        <h4 class="settings-header">Posts</h4>
        <div class="settings-text">
            <h6>Max count shown  on page</h6>
            <p data-toggle="modal" data-target="#maxpostModal" id="maxpostText" class="small">@Model?.MaxCount</p>
        </div>
    </div>
    <!--End-->
    <div class="clearfix"></div>
    <!--Publishing<-->
    <div class="container mt-4 border-bottom">
        <h4 class="settings-header">Publishing</h4>
        <div class="settings-text">
            <h6>Blog Address</h6>
            <a href="/" target="_blank" class="small">@Model?.BlogAddress</a>
        </div>
        <div class="settings-text">
            <h6>Facebook Page</h6>
            <div class="input-group">
                <p class="small">Enable Publishing On Facebook Page</p>
                <div class="custom-control custom-switch ml-auto">

                    <input type="checkbox" class="custom-control-input" id="enablefacebook" asp-for="Enable_Facebook_Page">
                    <label class="custom-control-label" for="enablefacebook"></label>

                </div>

            </div>

        </div>
    </div>
    <!--End-->
    <div class="clearfix"></div>



    <!--Permissions-->
    <div class="container mt-4 border-bottom">
        <h4 class="settings-header">Permissions</h4>
        <div class="settings-text">
            <h6>Blog admins and authors</h6>

            <p class="small" data-toggle="modal" data-target="#adminandauthor" id="userValues">Users</p>

        </div>
    </div>
    <!--End-->

    <div class="clearfix"></div>
    <!--Site Configration-->
    <div class="container mt-4 border-bottom">
        <h4 class="settings-header">Site Configuration</h4>

        <div class="settings-text">
            <h6>Connectring String</h6>
            <p data-toggle="modal" data-target="#connectionStringModal" class="small">Database Connection String</p>
        </div>

        <div class="settings-text">

            <div class="input-group">
                <p class="small">Enable watermark</p>
                <div class="custom-control custom-switch ml-auto">

                    <input type="checkbox" class="custom-control-input" id="enablewatermark" asp-for="WaterMarkEnable">
                    <label class="custom-control-label" for="enablewatermark"></label>

                </div>
            </div>
        </div>

        <div class="settings-text">

            <div class="input-group">
                <p class="small">Allow Anonymous User</p>
                <div class="custom-control custom-switch ml-auto">

                    <input type="checkbox" class="custom-control-input" id="allowanonymous" asp-for="AllowAnonymous">
                    <label class="custom-control-label" for="allowanonymous"></label>

                </div>
            </div>
        </div>

        <div class="settings-text">

            <div class="input-group">
                <p class="small">Enable Cache</p>
                <div class="custom-control custom-switch ml-auto">

                    <input type="checkbox" class="custom-control-input" id="enablecache" asp-for="EnableCache">
                    <label class="custom-control-label" for="enablecache"></label>

                </div>
            </div>
        </div>


        <div class="settings-text">

            <div class="input-group">
                <p class="small">Enable Ip Address Verification </p>
                <div class="custom-control custom-switch ml-auto">

                    <input type="checkbox" class="custom-control-input" id="enableIpVerification" asp-for="EnableIpVerification">
                    <label class="custom-control-label" for="enableIpVerification"></label>

                </div>
            </div>
        </div>



        <div class="settings-text">

            <div class="d-block">
                <p class="small">Select Custom Page Role</p>
                <div class="form-group">

                    <select type="checkbox" class="form-control w-25" id="customPageRole" asp-for="CustomPageRole">
                        <option value="All">All</option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="Author">Author</option>
                        <option value="AdminAuthor">Admin&Author</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="settings-text">

            <div class="d-block">
                <p class="small">Select Dord Page Role</p>
                <div class="form-group">

                    <select type="checkbox" class="form-control w-25" id="dordPageRole" asp-for="DordPageRole">
                        <option value="All">All</option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="Author">Author</option>
                        <option value="AdminAuthor">Admin&Author</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="settings-text">

            <div class="d-block">
                <p class="small">Select View Table Role</p>
                <div class="form-group">

                    <select type="checkbox" class="form-control w-25" id="viewTableRole" asp-for="ViewTableRole">
                        <option value="All">All</option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="Author">Author</option>
                        <option value="AdminAuthor">Admin&Author</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="settings-text">

            <div class="d-block">
                <p class="small">Select Modify Table Role</p>
                <div class="form-group">

                    <select type="checkbox" class="form-control w-25" id="modifyTableRole" asp-for="ModifyTableRole">
                        <option value="All">All</option>
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="Author">Author</option>
                        <option value="AdminAuthor">Admin&Author</option>
                    </select>

                </div>
            </div>
        </div>

    </div>
    <!--End-->
    <div class="clearfix"></div>
    <!--Email-->
    <div class="container mt-4 border-bottom">
        <h4 class="settings-header">Email</h4>
        <div class="settings-text">
            <div class="input-group">
                <p class="small">Enable free email setup</p>
                <div class="custom-control custom-switch ml-auto">

                    <input type="checkbox" class="custom-control-input" id="enableFreeMail" asp-for="Enable_Free_Mail_Setup">
                    <label class="custom-control-label" for="enableFreeMail"></label>

                </div>

            </div>
            <div class="form-group mt-4" id="setupContainer">

            </div>
        </div>
        <div class="settings-text">
            <h6>Username</h6>
            <p class="small" data-toggle="modal" data-target="#usernameModal" id="usernameText">@Model?.SmtpSetup.UserName</p>
        </div>
        <div class="settings-text">
            <h6>Password</h6>
            <p class="small" data-toggle="modal" data-target="#passwordModal">**********</p>
        </div>

        <div id="hostedsetup">
            <h4 class="settings-header">Smtp Setup</h4>
            <div class="settings-text">
                <h6>SmtpHost</h6>
                <p class="small" data-toggle="modal" data-target="#smtphostModal" id="smtpHostText">@Model?.SmtpSetup.Host</p>
            </div>
            <div class="settings-text">
                <h6>SmtpPort</h6>
                <p class="small" data-toggle="modal" data-target="#smtpportModal" id="smtpPortText">@Model?.SmtpSetup.Port</p>
            </div>
            <div class="settings-text">
                <h6>Smtp SSL</h6>
                <div class="input-group">
                    <p class="small">Require Smtp SSL</p>
                    <div class="custom-control custom-switch ml-auto">

                        <input type="checkbox" class="custom-control-input" asp-for="SmtpSetup.IsSSL">
                        <label class="custom-control-label" for="SmtpSetup_IsSSL"></label>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <h4 class="settings-header mt-2">Imap Setup</h4>
            <div class="settings-text">
                <h6>ImapHost</h6>
                <p class="small" data-toggle="modal" data-target="#imaphostModal" id="imapHostText">@Model?.ImapSetup.Host</p>
            </div>
            <div class="settings-text">
                <h6>ImapPort</h6>
                <p class="small" data-toggle="modal" data-target="#imapportModal" id="imapPortText">@Model?.ImapSetup.Port</p>
            </div>
            <div class="settings-text">
                <h6>Imap SSL</h6>
                <div class="input-group">
                    <p class="small">Require Imap SSL</p>
                    <div class="custom-control custom-switch ml-auto">

                        <input type="checkbox" class="custom-control-input" asp-for="ImapSetup.IsSSL">
                        <label class="custom-control-label" for="ImapSetup_IsSSL"></label>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--End-->

</div>
<!--Blog Title-->
<div class="modal" id="titleModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" placeholder="Blog Title" class="form-control borderless border-bottom mb-4 mt-3" asp-for="Title" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveTitleBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Keywords-->
<div class="modal" id="keywordModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" placeholder="Keywords" class="form-control borderless border-bottom mb-4 mt-3" asp-for="Keywords" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveKeywordBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Description-->
<div class="modal" id="descriptionModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" placeholder="Description" class="form-control borderless border-bottom mb-4 mt-3" asp-for="Description" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveDescriptionBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--AdminAndAuthor-->
<div class="modal" id="adminandauthor">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Blog admins and authors</h4>
            </div>
            <div class="modal-body">
                <div id="showUsers">
                </div>
                <div class="input-group mt-4">
                    <a href="#" class="btn btn-outline-danger mr-3" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addadminandauthor">Add</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!--End-->
<!--Delete User-->
<div class="modal" id="deleteUserModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p id="deleteUsetext"></p>
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">No</a>
                    <button type="button" class="btn btn-outline-success" id="deleteUserYes">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Add AdminAndAuthor-->
<div class="modal" id="addadminandauthor">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Blog admins and authors</h4>
            </div>
            <div class="modal-body">
                <div class="text-danger" id="Error"></div>
                <input type="text" placeholder="Email" class="form-control borderless border-bottom mb-4 mt-3" id="useremail" />
                <input type="text" placeholder="First Name" class="form-control borderless border-bottom mb-4 mt-3" id="firstname" />
                <input type="text" placeholder="Last Name" class="form-control borderless border-bottom mb-4 mt-3" id="lastname" />
                <input type="text" placeholder="UserName" class="form-control borderless border-bottom mb-4 mt-3" id="username" />
                <input type="password" placeholder="Password" class="form-control borderless border-bottom mb-4 mt-3" id="userpassword" />
                <div class="input-group align-items-baseline mt-1">
                    <input type="checkbox" class="form-check" id="showPassword" />
                    <label class="col-form-label-sm ml-3">Show Password</label>
                </div>
                <select class="form-control borderless border-bottom mb-5" id="role">
                    <option value="Admin">Admin</option>
                    <option value="Author">Author</option>
                </select>
                <div class="input-group">
                    <a href="#" class="btn btn-outline-danger mr-3" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="addUser">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Max Count Shown-->
<div class="modal" id="maxpostModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="number" placeholder="Max Count Shown" class="form-control borderless border-bottom mb-4 mt-3" asp-for="MaxCount" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveMaxPostBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Username-->
<div class="modal" id="usernameModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" placeholder="Username" class="form-control borderless border-bottom mb-4 mt-3" asp-for="SmtpSetup.UserName" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveUsernameBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Password-->
<div class="modal" id="passwordModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" placeholder="Password" class="form-control borderless border-bottom mb-4 mt-3" asp-for="SmtpSetup.Password" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="savePasswordBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Smtp Host-->
<div class="modal" id="smtphostModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" placeholder="Smtp Host" class="form-control borderless border-bottom mb-4 mt-3" asp-for="SmtpSetup.Host" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveSmtpHostBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Smtp Port-->
<div class="modal" id="smtpportModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="number" placeholder="Smtp Port" class="form-control borderless border-bottom mb-4 mt-3" asp-for="SmtpSetup.Port" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveSmtpPort">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Imap Host-->
<div class="modal" id="imaphostModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" placeholder="Imap Host" class="form-control borderless border-bottom mb-4 mt-3" asp-for="ImapSetup.Host" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveImapHostBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Imap port-->
<div class="modal" id="imapportModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="number" placeholder="Imap port" class="form-control borderless border-bottom mb-4 mt-3" asp-for="ImapSetup.Port" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="saveImapPortBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Facebook -->
<div class="modal" id="facebookModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h6 class="text-center mt-2">Enable Facebook Page Share</h6>
                <input type="text" placeholder="Facebook PageAccessToken" class="form-control mt-3" asp-for="FacebookUserAccessToken" />
                <input type="text" placeholder="Facebook PageId" class="form-control mt-3" asp-for="FacebookPageId" />

                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="savefacebookBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Favicon-->
<div class="modal" id="faviconModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="/admin/uploadfavicon" onsubmit="uploadFavicon(this); return false" asp-antiforgery="false">
                    <span class="text-danger ml-2 mt-1" id="favicoError"></span>
                    <div class="progress mt-3" style="display:none;" id="progress">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="progressbar">

                        </div>
                    </div>
                    <input type="file" class="form-control borderless border-bottom mb-4 mt-3" name="File" id="File" accept="image/*" />
                    <div class="input-group justify-content-end mt-5">
                        <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-outline-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Connection String-->
<div class="modal" id="connectionStringModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <span class="text-danger" id="connectionError"></span>
                <input type="text" placeholder="Connection String" class="form-control borderless border-bottom mb-4 mt-3" id="connectionString" />
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                    <button type="button" class="btn btn-outline-success" id="connectionStringBtn">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->