@model IEnumerable<Template>
@using System.Web;
@{
    ViewData["Title"] = "Themes";
    Layout = "_AdminLayout";

}
@section scripts{
    
    <script src="/adminwwwroot/js/53adfae2-3572-40a1-899f-80dcd94e2cf1.js" asp-append-version="true"></script>
}


<div class="container-fluid right-over-flow right-over-flow-f pl-2 shadow-sm border">

    <div class="plus">
        <a title="Add Theme" href="/admin/newtheme">
            <i class="fa fa-plus-circle plus-icon">

            </i>
        </a>
    </div>
    <div class="row" id="themeContainer">
     
    </div>
    <input type="hidden" id="maintheme" value="theme" />
</div>