@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}
@section scripts{

    <script src="/adminwwwroot/js/463e4761-f2c5-4265-829b-9b35e3519b3d.js" asp-append-version="true"></script>

}


<div class="container-fluid shadow-sm border">

    <div class="media mb-3 mt-3 justify-content-between">

        <div class="mr-auto">
            <select class="form-control borderless header-input" id="selectposttype">
                <option value="all" id="total">All (0)</option>
            </select>
        </div>
        <input type="text" class="custom-control borderless border-bottom ml-auto mr-auto header-input" placeholder="usernameOrRole" id="userSearch" />
        <input type="checkbox" class="custom-control custom-checkbox header-checkbox" id="allcheck" />



    </div>
    <div id="selectedItem">
        <div class="media border justify-content-around pt-2 pb-1 mt-2 align-items-baseline">
            <div class="input-group">
                <a href="#" class="close mr-2" id="selectedItemIClose">&times;</a>
                |
                <p class="ml-2 selected-text" id="selected"></p>
            </div>
            <div class="input-group justify-content-end ml-auto">
                <a href="#" title="Delete" class="mr-3" id="delete_all">
                    <i class="fa fa-trash text-success"></i>
                </a>

            </div>
        </div>
    </div>
    <div class="main right-over-flow" id="main">


    </div>

</div>
<!--User Details-->
<div class="modal" id="userContainer">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">

                <div class="d-block p-4">

                    <div class="form-group">
                        <input type="text" placeholder="UserName" class="form-control borderless border-bottom mb-4 mt-3" id="username" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="FullName" class="form-control borderless border-bottom mb-4 mt-3" id="fullname" readonly="readonly" />
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="email" class="form-control borderless border-bottom mb-4 mt-3" id="email" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="phonenumber" class="form-control borderless border-bottom mb-4 mt-3" id="phonenumber" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="verify" class="form-control borderless border-bottom mb-4 mt-3" id="verify" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="role" class="form-control borderless border-bottom mb-4 mt-3" id="role" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="date" class="form-control borderless border-bottom mb-4 mt-3" id="date" readonly="readonly" />
                    </div>
                </div>


                <div class="input-group justify-content-between mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Delete User-->
<div class="modal" id="deleteUserModal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p id="deleteUsetext"></p>
                <div class="input-group justify-content-end mt-5">
                    <a href="#" class="btn btn-outline-danger mr-5" data-dismiss="modal">No</a>
                    <button type="button" class="btn btn-outline-success" id="deleteUserYes">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->