@model Template
@{
    ViewData["Title"] = "View Theme";
    Layout = "_AdminLayout";
}
@section scripts{

    <script src="/adminwwwroot/js/53adfae2-3572-40a1-899f-80dcd94e2cf1.js" asp-append-version="true"></script>
}

<div class="container-fluid shadow-sm border">

    <div class="input-group mt-4 mb-2">
        <div class="mr-auto w-50">
            <select class="form-control" id="themeType">
                @foreach (string file in Model.HtmlFile)
                {
                    <option value="@file">@file</option>


                }
            </select>
        </div>
        <div class="ml-auto">
            <button type="button" class="btn btn-outline-danger mr-4" id="savetheme">Save</button>
            <button type="button" class="btn btn-outline-danger" id="cancel">Cancel</button>
        </div>
    </div>
    <p class="text-danger mt-2 mb-2 ml-3" id="templateError"></p>
    <textarea class="main w-100 right-over-flow border form-control bg-dark text-light" id="content" contenteditable="true" style="resize: none" autofocus="autofocus" spellcheck="false" autocomplete="on">
   @Model?.Contents
</textarea>
    <input type="hidden" id="themeName" value="@Model?.Name" />
</div>