<div class="jumbotron text-center mt-2 navbar-light bg-light p-5">

    <h2 class="display-4">Welcome to DordStream</h2>
     <p class="lead">  DordStream is a software development tools that provide set of tools, Modules and Application to support the development of website and web application. DordStream is a Cross-Platform and Open Source Software </p>
     
      <p class="lead"><strong> DordStream Offers two mode of Development</strong> </p>
      <ol start="1" type="i" style="text-align: left; text-indent: 15px">
      <li> <span> Website :</span> <i>DordStream will allow you to create a website from scratch without writing any backend code. just Html and CSS. such as blog and website <i>
      </i></i></li>
     <li class="mt-2">
     Web Application : <i>DordStream will allow you to create or develop a web application with basic knowledge in C#. such as web software. e.g Amazon, Facebook, Attendance Sheet and so on </i>
     
     
     </li>
      </ol>





</div>






