<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dord Stream</title>

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>
<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke px-0">
                <h1>
                    <a class="navbar-brand" href="/">
                        <sitename>Dord Stream</sitename>
                    </a>
                </h1>

                <a class="navbar-brand" href="/">
                    <img src="assets/images/Logo.png" alt="DordStream" title="DordStream" style="height:35px;" />
                </a>
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#whoweare">Why Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Explore <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#features">Features</a>
                                <a class="dropdown-item" href="#services">Modules list</a>
                                <a class="dropdown-item" href="#choose">Why choose us</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                More <span class="fa fa-angle-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/route/documentation">Documentation</a>
                                <a class="dropdown-item" href="#subscribe">Subscribe</a>
                                <a class="dropdown-item" href="/route/demo">Demo</a>
                            </div>
                        </li>

                        <!--/search-right-->
                        <div class="search-right mx-lg-3">
                            <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">

                                    <form action="" method="GET" class="search-box">
                                        <input type="search" placeholder="Enter Keyword" name="search" required="required"
                                               autofocus="">
                                        <button type="submit" class="btn">
                                            <span class="fa fa-search"
                                                  aria-hidden="true"></span>
                                        </button>
                                    </form>

                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </div>
                        <!--//search-right-->

                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--/header-->
    <!-- banner section -->
    <section id="home" class="w3l-banner py-5">
        <div id="particles-js"></div>
        <div class="container py-lg-5 py-md-4">
            <div class="align-items-center py-4">
                <div class="banner-content mt-5">
                    <h3 class="mb-2">We are a global experience digital platform.</h3>
                    <h3 class="">We are <span>web digital platform.</span></h3>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->
    <!-- home page block1 -->
    <section id="about" class="home-services py-5">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <img src="assets/images/icon1.png" alt="" />
                            <div class="info">
                                <p>Issues</p>
                                <h4><a href="https://github.com/DordStream/DordStream-/issues">Issues found while using the Software</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <img src="assets/images/icon2.png" alt="" />
                            <div class="info">
                                <p>Discussion </p>
                                <h4><a href="https://github.com/DordStream/DordStream-/discussions">Discussion on the Software</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <img src="assets/images/icon3.png" alt="" />
                            <div class="info">
                                <p>EMAIL US</p>
                                <h4><a href="mailto:info@dordstream.org">info@dordstream.org</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //home page block1 -->
    <section class="w3l-content py-5" id="whoweare">
        <div class="content-4-main py-lg-5 py-md-4">
            <div class="container">
                <h3 class="title-big mb-4">Who <span>We are</span></h3>
                <div class="content-info-in row">
                    <div class="content-left col-lg-6">
                        <p class="">
                            DordStream is a content management software responsible for developing a secure website and blog with Html, Css and Dshtml Only. and also serve as a platform for working with database, files on server,route e.t.c through Javascript with the aid of module.
                            DordStream is a module dependant. i.e it depends on the modularity to extend the functionality.

                        </p>

                    </div>
                    <div class="content-right col-lg-6 mt-lg-0 mt-4">
                        <p>
                            DordStream aims and objectives are to develop a secure whatsoever web based software with Html, Css and Javascript
                        </p>

                    </div>
                </div>
                <ul class="social-media mt-4">
                    <li><a href="https://github.com/dordstream"><span class="fa fa-github-square icon_linkedin"></span></a></li>
                    <li><a href="http://www.youtube.com/channel/UCpp87MTauAmcEx8M3MvNwqQ"><span class="fa fa-youtube-square icon_twitter"></span></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100003468655180"><span class="fa fa-facebook icon_facebook"></span></a></li>
                    <li><a href="https://wa.me/message/OWVXK2IC34Y4E1"><span class="fa fa-whatsapp icon_dribbble"></span></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="w3l-content-4 py-5">
        <div class="content-4-main py-lg-5 py-md-4">
            <div class="container pb-5">
                <h3 class="title-small mx-0 mb-5">Design and development of DordStream</h3>
                <div class="content-info-in row">
                    <div class="content-left col-lg-6">
                        <p class=""> DordStream is a content management software which was developed with DotNet Framework and paired with Microsoft Server SQL and depends on the module for the functionality </p>
                        <a href="/route/documentation" class="btn btn-style btn-primary mt-md-5 mt-4">Documentation</a>
                    </div>
                    <div class="content-right col-lg-6 mt-lg-0 mt-5">
                        <p> DordStream is design as a platform to develop a website, blog with Html ,Dshtml and Css while web software, working with Database , route, Server e.t.c through Javascript</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- home page block -->
    <section class="home-grids" id="features">
        <div class="container">
            <div class="row bg-color-white">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box-wrap">
                        <div class="box-grid">
                            <img src="assets/images/icon1.png" alt="" />
                            <div class="info">
                                <h4 class="title-small">Development</h4>
                            </div>
                        </div>
                        <p class="mt-4 pt-2">DordStream is a platform that allow  the development of secure web application through Html, Css and Javascript.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box-wrap border-grid">
                        <div class="box-grid">
                            <img src="assets/images/icon2.png" alt="" />
                            <div class="info">
                                <h4 class="title-small">Installation</h4>
                            </div>
                        </div>
                        <p class="mt-4 pt-2">DordStream is easy to install. It can be installed on either local machine using Internet Information Service (IIS) or web host server that runs MSSQL server </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box-wrap">
                        <div class="box-grid">
                            <img src="assets/images/icon3.png" alt="" />
                            <div class="info">
                                <h4 class="title-small">Responsibility</h4>
                            </div>
                        </div>
                        <p class="mt-4 pt-2">DordStream is Responsible for the security, Routing and the Sophisticated Api </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //home page block -->
    <!--/w3l-bottom-->
    <section class="w3l-bottom1 py-5">
        <div class="container py-md-5 py-sm-4 py-2">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bottom-info">
                        <div class="header-section">
                            <h3 class="title-big">
                                Unleash Your Team’s Productive
                                <span> Power </span>
                            </h3>
                            <p class="mt-3 pr-lg-5">Use DordStream today and enjoy the widely usage of the software</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 align-self text-lg-right">
                    <a href="mailto:info@dordstream.org" class="btn btn-style btn-outline-primary mt-md-5 mt-4">Get in touch</a>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-bottom-->

    <section class="w3l-features-8" id="services">
        <!-- /features -->
        <div class="features py-5" id="services">
            <div class="container py-lg-5 py-md-4 py-2">
                <h5 class="small">Our Modules</h5>
                <h3 class="title-big mb-md-5 mb-4">Modules <span> List</span></h3>
                <div class="fea-gd-vv text-center row">
                    <div class="float-top col-lg-3 col-md-6">
                        <div class="float-lt feature-gd">
                            <h3><a href="#url">Database Module</a> </h3>
                            <p>This Module provide an interface to perform a secure database operations through javascript</p>
                            <a href="/route/databasemodule" class="read">Documentation</a>
                        </div>
                    </div>
                    <div class="float-top col-lg-3 col-md-6 mt-md-0 mt-5">
                        <div class="float-lt feature-gd">
                            <h3><a href="#url">Payment Module</a> </h3>
                            <p>This Module provide an interface to work with payment gateway through javascript and handle the security</p>
                            <a href="/route/paymentmodule" class="read">Documentation</a>
                        </div>
                    </div>
                    <div class="float-top col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="float-lt feature-gd">
                            <h3><a href="#url">File Module</a> </h3>
                            <p>This Module provide an interface to work with files on server through javascript and handle the security</p>
                            <a href="/route/filemodule" class="read">Documentation</a>
                        </div>
                    </div>
                    <div class="float-top col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="float-lt feature-gd">
                            <h3><a href="#url">Antiforgery Module</a> </h3>
                            <p>This Module protect Cross-site scripting attacks on the software</p>
                            <a href="/route/antiforgery" class="read">Documentation</a>
                        </div>
                    </div>
                    <div class="float-top col-lg-3 col-md-6 mt-lg-0 mt-5">
                        <div class="float-lt feature-gd">
                            <h3><a href="#url">Http Secure Module</a> </h3>
                            <p>This Module provide a secure communication over the server and allow the software to run on a secure Https</p>
                            <a href="/route/httpsecure" class="read">Documentation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //features -->
    </section>
    <section class="w3-about-2" id="choose">
        <div class="w3-services-ab py-5">
            <div class="container py-lg-5 py-md-4">
                <h5 class="small text-light text-center">We enjoy working</h5>
                <h3 class="title-big mb-5 text-center">Why people <span>Choose us</span></h3>
                <div class="w3-services-grids">
                    <div class=" w3-services-right-grid pl-lg-5 mx-auto">
                        <div class="fea-gd-vv row">
                            <div class="col-lg-4 col-md-6">
                                <div class="float-lt feature-gd">
                                    <div class="icon-info">
                                        <h5 class="small">what we do</h5>
                                        <h3 class="title-big mb-4 mt-2"><span>Services</span></h3>
                                        <p> We provide the best service and excellent security </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 pt-lg-0 pt-md-2">
                                <div class="float-rt feature-gd">
                                    <div class="icon-info">
                                        <h5 class="small">help and support</h5>
                                        <h3 class="title-big mb-4 mt-2"><span>Support</span></h3>
                                        <p> we provide 24 hours support</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="w3l-bg-image">
        <div class="bg-mask py-5">
            <div class="container py-lg-5 py-4">
                <div class="text-align text-center py-lg-4 py-md-3">
                    <h3 class="title-big">Be a Sponsor <span>Support DordStream</span> </h3>
                    <p class="mt-4">DordStream is a newly and  open source software which is free for all. we need sponsor to maintain the software</p>
                    <a class="btn btn-style btn-outline-primary mt-sm-5 mt-4" href="mailto:sponsor@dordstream.org"> Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- home page newsletter -->
    <section class="w3l-bottom py-5" id="subscribe">
        <div class="container py-lg-4 py-2">
            <div class="subscribe">
                <div class="row">
                    <div class="col-lg-5 header-section mx-auto">
                        <h3 class="title-big"> Stay Always<span> In Touch</span></h3>
                        <p class="mt-2"> Get our latest news straight into your inbox</p>
                    </div>
                    <div class="col-lg-7 mt-lg-0 mt-4 align-self">
                        <form action="#" method="post" class="subscribe-wthree" ds-action="subscribe">
                            <div class="d-md-flex flex-wrap subscribe-wthree-field">
                                <p class="text-danger" ds-error="1"></p>
                                <input class="form-control" type="email" placeholder="Enter your email..." name="email"
                                       required="" ds-email="1">
                                <button class="btn btn-style btn-primary" type="submit">
                                    <span class="fa fa-paper-plane"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //home page newsletter -->
    <!-- footer -->
    <footer class="py-5">
        <div class="container py-md-3">
            <div class="footer-grids">
                <div class="footer-grid left">
                    <h2 class="logo"><a href="/"><sitename>DordStream</sitename></a></h2>
                </div>
                <div class="middle">
                    <p>© 2022 <sitename>DordStream</sitename>. All Rights Reserved</p>
                </div>
                <div class="right">
                    <ul class="social">
                        <li><a href="https://github.com/dordstream"><span class="fa fa-github-square icon_linkedin"></span></a></li>
                        <li><a href="http://www.youtube.com/channel/UCpp87MTauAmcEx8M3MvNwqQ"><span class="fa fa-youtube-square icon_twitter"></span></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100003468655180"><span class="fa fa-facebook icon_facebook"></span></a></li>
                        <li><a href="https://wa.me/message/OWVXK2IC34Y4E1"><span class="fa fa-whatsapp icon_dribbble"></span></a></li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            &#10548;
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </footer>
    <!-- //footer -->
    <!-- Common jquery plugin -->
    <!-- responsive tabs -->
    <script src="assets/js/jquery-1.9.1.min.js"></script>

    <script src="assets/js/easyResponsiveTabs.js"></script>
    <!--Plug-in Initialisation-->
    <script type="text/javascript">
        $(document).ready(function () {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>

    <script src="assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>


    <script src="assets/js/particles.js"></script>

    <script>
        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 80,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 140,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });
    </script>
    <script src="assets/js/owl.carousel.js"></script><!-- owl carousel -->
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false,
                        loop: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!--bootstrap-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->


</body>

</html>